@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    /*----Typography----*/
    --primaryFont: "Raleway", sans-serif;

    /*----Colors----*/
    --blue-200: hsl(243, 100%, 93%);
    --grayish-Blue: hsl(229, 7%, 55%);
    --blue-850: hsl(228, 56%, 26%);
    --blue-950: hsl(229, 57%, 11%);
    --white: hsl(0, 0%, 100%);
    --rangeBg-color: hsl(227, 57%, 18%);
    --progressbarDark:hsl(335, 100%, 65%);
    --progressbarLight:hsl(6, 100%, 80%);
}

/*----Reset & Global Style----*/
*, ::after, *::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body{
  min-height: 100vh;
}
img{
  max-width: 100%;
  height: auto;
  display: block;
}
body{
  background-color: var(--blue-950);
  background-image: url(images/bg-mobile.png);
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-family: var(--primaryFont); 
  align-content: center;
}
.container{
  display: flex;
  flex-direction: column;
  place-content: center;
  gap: 1rem;
  padding: 1.5rem;
}
.icon-card{
  background-color: var(--blue-850);
  padding: 2.5rem;
  border-radius: .60rem 5rem .60rem .60rem;
}
.icon-area{
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
  flex-wrap: wrap;  
}
.icon{
  padding: .8rem;
  border-radius: .5rem;
  background-color: var(--blue-950);
  display: flex;
}
img.icon{
  object-fit: contain;
}
.storage-card{
  background-color: var(--blue-850);
  padding: 2.5rem;
  border-radius: .60rem;
  position: relative;
}
.storage-card .used-space{
  color: var(--blue-200);
  margin-inline: .25rem;
  font-size: .80rem;
}
.storage-card p span{
  font-weight: bold;
}
.progressbar{
  width: 100%;
  position: relative;
}
.range{
  width: 100%;
  -webkit-appearance: none;
  background: transparent;
  margin-top: 1rem;
  pointer-events: none;
}
/*Chrome / Edge / Safari Track */
.range::-webkit-slider-runnable-track{
  height: .85rem;
  border-radius: 1rem;
  background: linear-gradient(
    to right,
    var(--progressbarLight) 0%,
    var(--progressbarDark) 81.5%,
    var(--rangeBg-color) 81.5%,
    var(--rangeBg-color) 100%
  );
}
/*Chrome / Edge / Safari Thumb */
.range::-webkit-slider-thumb{
  -webkit-appearance: none;
  width: .8rem;
  height: .8rem;
  background: #fff;
  border-radius: 50%;  
}
/* Firefox Track */
.range::-moz-range-track{
  height: .85rem;
  border-radius: 1rem;
  background: var(--rangeBg-color);
}
/* Firefox Progress */
.range::-moz-range-progress{
   height: .85rem;
  border-radius: 1rem;
  background: linear-gradient(to right, var(--progressbarLight), var(--progressbarDark)); 
}
/* Firefox Thumb */
.range::-moz-range-thumb{
  width: .8rem;
  height: .8rem;
  background: var(--white);
  border-radius: 50%;
  border: none;
}
.range-text{
  display: flex;
  justify-content: space-between;
  font-size: .80rem;
  font-weight: 500;
  margin-top: .25rem;
  margin-bottom: .5rem; 
}
.white-card{
  width: clamp(9rem, 35%, 20rem);
  background-color: var(--white);
  position: absolute;
  display: flex;
  align-items: center;
  padding: 1rem;
  border-radius: .75rem;
  justify-content: space-around;
  left: 50%;
  transform: translate(-50%);
}
.white-card h1{  
  color: var(--blue-950);
  font-weight: 800;
  font-size: 2.2rem;
}
.white-card p{
  color: var(--grayish-Blue);
  text-transform: uppercase;
  font-weight: 700;
  font-size: .80rem;
}
@media screen and (min-width: 64rem){
  body{
    background-color: var(--blue-950);
    background-image: url(images/bg-desktop.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
}
.container{
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: flex-end;
  width: 70%;
  margin-inline: auto;
}
.icon-card{
  flex-basis: 40%;
  padding: 2.5rem;
   border-radius: .60rem 6rem .60rem .60rem;
}
.storage-card{
  flex-basis: 60%;
  padding: 2.5rem;
}
.storage-card .used-space{
  padding-inline: 0;
}
.range-text{
  margin-bottom: 0;
}
.white-card{
  border-radius: .75rem .75rem 0rem .75rem;
  bottom: 8rem;
  left: auto;
  right: 2.5rem;
  transform: none;
}
.white-card::after{
  content: '';
  position: absolute;
  top: 100%;
  transform: translateY(-1px);
  right: 0;
  border-left: 1.8rem solid transparent;
  border-top: 1.8rem solid #fff;
  border-right: 0 solid transparent;
}
}

