@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    /*----Typography----*/
    --primaryFont: "Raleway", sans-serif;

    /*----Colors----*/
    --gradient: hsl(6, 100%, 80%) to hsl(335, 100%, 65%);
    --blue-200: hsl(243, 100%, 93%);
    --grayish-Blue: hsl(229, 7%, 55%);
    --blue-850: hsl(228, 56%, 26%);
    --blue-950: hsl(229, 57%, 11%);
    --white: hsl(0, 0%, 100%);
    --rangeBg-color: hsl(227, 57%, 18%);
    --progressbarDark: #fe5895;
    --progressbarLight: #ff9794 ;
}

/*----Reset & Global Style----*/
*, ::after, *::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body{
  min-height: 100vh;
}
img{
  max-width: 100%;
  height: auto;
  display: block;
}

body{
  background-color: var(--blue-950);
  background-image: url(images/bg-mobile.png);
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-family: var(--primaryFont); 
  place-content: center;
}

.container{
  display: flex;
  flex-direction: column;
  place-content: center;
  gap: 1rem;
  padding: 1.5rem;
}

.icon-card{
  background-color: var(--blue-850);
  padding: 2.5rem;
  border-radius: .60rem 5rem .60rem .60rem;
}

.icon-area{
  display: flex;
  gap: 1rem;
  margin-top: 2rem;  
}

.icon{
  padding: .8rem;
  border-radius: .5rem;
  background-color: var(--blue-950);
}

img.icon{
  object-fit: contain;
  display: flex;
  justify-content: center;  
}

.storage-card{
  background-color: var(--blue-850);
  padding: 2.5rem;
  border-radius: .60rem;
  position: relative;
}

.storage-card .used-space{
  color: var(--blue-200);
  margin-inline: .25rem;
  font-size: .80rem;
}
.storage-card p span{
  font-weight: bold;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 1rem;
  padding: .60rem .25rem;
  border-radius: 1rem;
  background-color: var(--rangeBg-color);
  margin-top: 1rem;
  position: relative;
}

input[type="range"]::-webkit-slider-runnable-track{
  width: 81.5%;
  height: .85rem;
  background: linear-gradient(to right, #ff9794, #fe5895);
  border-radius: 1rem;
  position: absolute;
}

input[type="range"]::-webkit-slider-thumb{
  -webkit-appearance: none;
  appearance: none;
  width: .8rem;
  height: .8rem;
  background-color: #fff;
  border-radius: 50%;
  position: relative;
}

/*
.progressbar{
  width: 100%;
}

.progressbar-bg{
  background-color: var(--rangeBg-color);
  width: 100%;
  height: .75rem;
  padding: .55rem .20rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;  justify-content: center;
}
.progressbar-fill{
  background: linear-gradient(to right, #ff9794, #fe5895);
  width: 81.5%;
  border-radius: .75rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.circle{
  background-color: var(--white);
  width:.8rem;
  height:.8rem;
  border-radius: 50%;
}*/


.range-text{
  display: flex;
  justify-content: space-between;
  font-size: .80rem;
  font-weight: 500;
  margin-top: .25rem;
  margin-bottom: .5rem; 
}

.white-card{
  width: 52%;
  background-color: var(--white);
  position: absolute;
  display: flex;
  align-items: center;
  padding: 1rem;
  border-radius: .75rem;
  justify-content: space-around;
  left: 50%;
  transform: translate(-50%);
}


.white-card h1{  
  color: var(--blue-950);
  font-weight: 800;
  font-size: 2.2rem;
}

.white-card p{
  color: var(--grayish-Blue);
  text-transform: uppercase;
  font-weight: 700;
  font-size: .80rem;
}


@media screen and (min-width: 64rem){
  body{
    background-color: var(--blue-950);
    background-image: url(images/bg-desktop.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
}

.container{
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: flex-end;
  width: 70%;
  margin-inline: auto;
}
.icon-card{
  flex-basis: 40%;
  padding: 2.5rem;
   border-radius: .60rem 6rem .60rem .60rem;
}

.storage-card{
  flex-basis: 60%;
  padding: 2.5rem;
}

.storage-card .used-space{
  padding-inline: 0;
}

.range-text{
  margin-bottom: 0;
}

.white-card{
  max-width: 35% ;
  border-radius: .75rem .75rem 0rem .75rem;
  bottom: 8rem;
  left: auto;
  right: 2.5rem;
  transform: none;
}

.white-card::after{
  content: '';
  position: absolute;
  top: 4.2rem;
  right: 0;
  border-left: 1.8rem solid transparent;
  border-top: 1.8rem solid #fff;
  border-right: 0 solid transparent;
}
}
